@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "montserrat";
}

html{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    top: 0;
}
.slick-dots{
    position: relative !important;
    bottom: 0 !important;
}

.slick-dots li button:before{
    color: white !important;
    font-size: 12px !important;
}